<div class="hidden" id="ext-link">
    <form class="btn-group" role="group" aria-label="ext-link" method="post" action="http://www.gavo.t.u-tokyo.ac.jp/ojad/phrasing/index" target="_blank">
        <a href="#" target="ext_lnk_end" class="btn btn-ext" role="button" id="btn-ext-end">搜尋單字</a>    
        <input type="hidden" name="data[Phrasing][text]" id="ojad-text">
        <input type="hidden" name="data[Phrasing][curve]" value="advanced">
        <input type="hidden" name="data[Phrasing][accent]" value="advanced">
        <input type="hidden" name="data[Phrasing][accent_mark]" value="all">
        <input type="hidden" name="data[Phrasing][estimation]" value="crf">
        <input type="hidden" name="data[Phrasing][analyze]" value="true">
        <input type="hidden" name="data[Phrasing][phrase_component]" value="visible">
        <input type="hidden" name="data[Phrasing][param]" value="invisible">
        <input type="hidden" name="data[Phrasing][subscript]" value="visible">
        <input type="hidden" name="data[Phrasing][jeita]" value="invisible">
        <button type="submit" class="btn btn-ext" id="btn-ext-ojad">聆聽發音</button>
    </form>
</div>
