......................,$DNM+................................................
....................,N+....ZM,..............................................
...................,N.......?M..............................................
...................DNMND,....8$.............................................
................+NMM=..,M7...$M,=ZN8ZZZODMZ+,...............................
.....=8=,:ZMNIM7...,M=..ON.=DMZ..............:ZNI,..........................
....7:.....D8M,.....IM..ND,?MI...................+NI........................
...=O....O7.,M,.....,MMMD..........................,87......................
...=Z...:M~..O8....Z~N~..............................:M:....................
...,D....ZM,.,NO.Z:....................................DZ...................
....:8....:ZNMZD8=...........................:NN$=~.....ID..................
.....:D......,$..........................................=M.................
......~D?,.,:$............................................Z8................
.........,,=:..............................................DI...............
..........,+...............................................,M,..............
..........D.....................................~7NNN7......78..............
.........?:....................................IMMMMMMM=....:N:.............
.........N.....................................DMMMMMMMO.....M?.............
........~Z.....................................8MMMMMMM~.....N7.............
........I~.....$N..............................,ZMMMMM$......D$.............
........M, ...Z?.................................~7NO:.......N7.............
........M~....~..............................................8+.............
........D7............................................,:,...:Z:.............
........N8..............................~$$DDMM....,D?..OD..IN..............
........IM.........,~,...............+$7,.. .+M+...O:...ND..N+..............
........,N=......8MMMMM=.........IZM~........?M....~:$NM=..8O ..ONN~........
.........$D.....IMMNMMMM......:8MI...........$Z...........?8..,MI..IM,......
......... +O....=MMMMMMM,....NM:............,+...........7?8MNMD....$O......
...........78....7MMMMMO......+Z?...........~I.........:O?N7..,.....77......
............ID....=OOI,.........?7,........+O.........OD,.8D,......::+......
.............:$~..................IOO,....=7.......,8M?....,DMZ=:==I,.......
...............NN,....:OO?IM?........+DM7ZN,.....:78,......$$..,............
.................DM?:M+....IM............~....:ON?MMI,...~M,................
...................,8MMMNDO$.............. =DM7......=MNOD..................
......................:OM7~,.........,,:?OD$,...,......~M?..................
..........................:I8MMMMMMMMMD$:......+M8.......I=.................
.....................................8....,...+~.OI.......Z~................
....................................+?....MMO++,.,+.......~+................
........................,$D8MNZ.....+~....,7,N?,~$N+......:O................
.......................Z,....~DI....I:.....=MN............OZ................
......................=,......+DNMZ+=~...................~N,................
.....................:7,......=?.....8..................,D~.................
......................?$MMM:..+~.....+$................~OI..................
........................=M,...$.......I$..............7M:...................
.........................8DZZ:.........,7MI,......,IMN=.....................
...........................................=ONMMN8+,........................