<div class="flex-hor align-center noruby"  id="article-container">
    <div class="container rwd-lg-limit">
        <div class="panel panel-default flex-ver align-center">
            <div class="panel-heading">
                <h3 class="panel-title article-title">{{ page.title }}</h3>
                <h3 class="panel-title pull-right">{{ page.author }}</h3>
            </div>
            <div class="flex-hor panel-body bottom-dash-border">
                {% include presentation/pager.html %}
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-cog" aria-hidden="true"></i><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="text-center"><input id="ruby-switch" type="checkbox">標示漢字拼音</input></li>
                    </ul>
                </div>
            </div>
            {% include presentation/article_line_wrapper.html data_src=include.data_src %}
            <div class="flex-hor panel-body upper-dash-border">
                {% include presentation/pager.html %}
            </div>
        </div>
    </div>
</div>
