@charset "UTF-8";
html, body{
    width: 100%;
    height: 100%;
}

body {
    background: #e6e6e6;
    padding-top: 0px;
}

table ul{
    margin-left: -20px;
}

.banner {
    width: 100%;
    min-height: 600px;
    position: fixed;
    transition: all 1s cubic-bezier(1, 0.24, 0.58, 1);
}

.banner.item {
    background-position: center;
    background-repeat: no-repeat;
}

.banner.item.photo1{
    background-image: url('../images/grp_photo1_min.jpg');
}

.banner.item.photo2{
    background-image: url('../images/grp_photo2_min.jpg');
}

.banner.item.photo3{
    background-image: url('../images/grp_photo3_min.jpg');
}

.banner.bg {
    background-size: 100% 100%;
    z-index: 1;
    filter: blur(30px);
}

#banner-bg-mask{
    background: rgba(193, 203, 255, 0.45);
    z-index: 2;
}

.banner.main {
    background-size: auto 100%;
    z-index: 3;
}

#banner-mask {
    background: rgba(249, 219, 113, 0.07);
    z-index: 4;
}

#banner-container {
    transition: all 1s ease-in;
}

.section {
    position: relative;
    z-index: 5;
    background: rgba(0, 0, 0, 0.41);
    transition: all 1.5s ease-out;
}

.section.active {
    background: rgba(255, 255, 255, 0.6);
}

.section table tr>td:first-child {
    vertical-align: top;
    padding-right: 5px;
    white-space: nowrap;
}

.title {
    position: relative;
    z-index: 6;
    transition: all 1s cubic-bezier(0, 0.55, 0.58, 1);
}

#title {
    max-width: 400px;
    padding: 10px 20px;
    color: #cdd5ff;
    border-top-left-radius: 30px;
    background: rgba(0, 0, 0, 0.41);
    z-index: 5;
}

#more-wrapper {
    margin-left: -60px;
    margin-bottom: -75px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #b88cef;
    transition: all 1s linear;
    animation-name: twinkle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#more-wrapper-xs {
    position: relative;
    height: 20px;
}

#more {
    color: #dfd9ff;
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#about {
    min-height: 650px;
}

#schedule .panel {
    transition: all 1s ease-in;
}

#schedule.active.more .panel {
    background-color: rgba(143, 255, 175, 0.95);
}

#sc-title{
    color: #c39af5;
}

#btn-top{
    color: rgba(66, 59, 86, 0.66);
}

@keyframes jump {
    0% {margin-bottom: 7px;}
    100%  {margin-bottom: -10px;}
}

@keyframes twinkle {
    0%  {background: rgba(164, 174, 226, 0);}
    100% {background: rgba(184, 140, 239, 1);}
}

@media screen and (max-width: 767px){
    body{
        background: #dfd9ff;
    }

    .pic-loading{
        opacity: 0;
        filter: none;
    }
    
    .container{
        width: 90%;
    }

    .banner{
        min-height: 400px;
    }

    .banner.main{
        background-size: 100% auto;
    }

    #about{
       min-height: 850px;
    }

    #about .btn{
        width: 100%;
    }

    #title{
        max-width: none;
        width: 100%;
        border-top-left-radius: 0px;
    }
}
