---
layout: default
title: 必背句子 - 挑戰模式
description: 那些年一起背到崩潰的句子，你，還記得嗎？
nav_awesome_list: true
style: [challenge.css]
script: [challenge.js, js.cookie.js, cp.js]
permalink: /challenge/
---
<div class="flex-ver align-center h-100" id="outer-wrapper">
    <div class="para-active container rwd-lg-limit flex-ver elem-fill fade" id="inner-wrapper">
        {% include awesome-list/para_panel.html %}
        {% include awesome-list/stage_panel.html %}
    </div>
</div>
{% include article/search_panel.html %}
